@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');


html {
    background-color: #e7dbdb;
}


* {
    box-sizing: border-box;
}

#sup-part {
    display: flex;
    background-color: #1B1D2D;
}

#bruno-img {
    width: 30%;
    border-radius: 20rem;
    border-color: #e7dbdb;
    border-style: solid;
    margin: 5rem 0 5rem 5rem;
}

#bruno-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    color: #e7dbdb;
}

#infos {
    display: flex;
    flex-direction: column;
}

#tec-info {
    font-family: 'Montserrat', sans-serif;
    color: #e7dbdb;
    font-size: 4rem;
    margin: 0 0 0 4rem;
}

a {
    color: #e7dbdb;
    font-size: 4rem;
    text-decoration: none;
    word-spacing: 0.3rem;
    font-family: 'Prompt', sans-serif;
}

a:hover {
    color: #aa9f9f;
}

i {
    color: #e7dbdb;
    font-family: 'Prompt', sans-serif;
    font-size: 4rem;
    margin: 4rem 0 0 4rem;
}

#curriculum {
}

#about-title {
    font-family: 'Arimo', sans-serif;
    letter-spacing: 0.5rem;
    width: 13%;
    background-color: #BBBBBB;
    text-align: center;
    padding: 1rem;
    border-radius: 0;
    border: 0.1rem solid red;
}